/* ============================== */
/* BUTTONS */
/* ============================== */

.dataTables_wrapper .dt-buttons {
  margin: 20px 0 0 0;
}

.btn-default {
  background-color: #272c30;
  color: #bec5cb;
  border-color: #bec5cb;
}

.btn-default:hover {
  background-color: tomato;
  color: #272c30;
  border-color: white;
  font-weight: bold;
}

/* Override "royal" style action buttons to use tomato color */
.bttn-royal {
  background-color: tomato !important;
  border-color: tomato !important;
  color: white !important;
}

/* Change button hover effect */
.bttn-royal:hover {
  background-color: white !important; /* Slightly darker tomato */
  border-color: white !important;
  color: tomato !important;
}

.pretty.p-toggle .state.p-danger label::after {
  background-color: white !important;
}

/* Progress bar*/
.progress-bar {
  background-color: tomato !important;
}


/* ============================== */
/* NAVIGATION BAR & DROPDOWN MENU */
/* ============================== */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus{
  color: white;
  font-weight: bold;
  background-color: tomato !important;
  border: 1px solid tomato !important;
  border-bottom-color: transparent;
}

.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav > li > a {
  color: #bec5cb;
  padding: 10px 15px;
}

.nav-tabs > li > a:hover {
  color: tomato !important;
  font-weight: bold;
  background-color: white !important;
  border: 1px solid white !important;
  border-bottom-color: transparent;
}

.dropdown-menu {
  background-color: #272c30;
  color: white;
  border-color: #272c30;
}

.dropdown-menu > li > a {
  background-color: #272c30;
  color: #999999;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  background-color: tomato;
  border-color: #bec5cb;
}

.dropdown-menu > li > a {
  font-size: small !important;
}

/* Style the selectInput border */
.selectize-input {
  border: 2px solid tomato; /* Green border */
}

/* Change the border color when the selectInput is focused */
.selectize-input:focus {
  border-color: tomato; /* Orange border on focus */
  box-shadow: 0 0 5px rgba(255, 87, 34, 0.6); /* Add shadow on focus */
}

/* Change the background color on hovering over the selectInput */
.selectize-dropdown {
  background-color: #f1f1f1; /* Light grey background */
}

/* Style the highlighted option in the dropdown */
.selectize-dropdown .option:hover {
  background-color: tomato; /* Orange highlight on hover */
  color: white; /* Text color when hovered */
}


/* Change background color of selected option */
.selectize-input .items .item {
  background-color: tomato; /* Orange selected item */
  color: white; /* Text color of selected item */
}

.selectize-dropdown .active {
  background-color: tomato !important; /* Highlight the active selected option */
  color: white; /* White text for active option */
}



/* ============================== */
/* SIDEBAR MENU */
/* ============================== */

.sidebar-menu > li > a {
  color: white !important;
  background-color: tomato !important;
  font-size: 1.25em !important;  /* Adjust size as needed */
}

/* Sidebar menu hover effect */
.sidebar-menu > li > a:hover {
  background-color: white !important;
  color: tomato !important;
}

.treeview-menu > li > a {
  color: tomato !important;
  font-size: 1.2em !important;
}

.treeview-menu > li > a:hover {
  color: white !important;
  font-size: 1.2em !important;
}

.skin-midnight .treeview-menu > li > a {
  color: #999999;
  font-size: medium;
}

.skin-midnight .sidebar a {
  color: #bec5cb;
  font-size: large;
}

/* ============================== */
/* TITLES */
/* ============================== */

h3 {
  color: white !important;
  font-size: 1.5em !important;
  font-weight: bold !important;
}

/* ============================== */
/* SLIDERS */
/* ============================== */

/* Slider track */
.irs-bar,
.irs-bar-edge {
  background-color: tomato !important;
  border-top: 1px solid tomato !important;
  border-bottom: 1px solid tomato !important;
}

/* Slider handle (thumb) */
.irs-slider {
  background-color: white !important;
  border: 2px solid white !important;
}

/* Floating value above slider */
.irs-single,
.irs-from,
.irs-to {
  background-color: tomato !important;
  color: white !important;
  font-weight: bold;
}

/* Grid labels below slider */
.irs-grid-text {
  color: #ffffff !important;
}

.irs--shiny .irs-grid-text {
  bottom: 5px;
}

.irs--shiny .irs-grid-pol {
  background-color: #999999;
}
